# ...existing code...
/.venv
__pycache__/
# Ignore virtual environment and test caches inside entrega1
/entrega1/.venv
/entrega1/.pytest_cache/
# Bytecode cache inside entrega1
/entrega1/__pycache__/

/entrega1/.antlr

documentacion.pdf